<!DOCTYPE html>
<html>

<head>

    <title>{{ movie.title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

        body{
            background-color:black;
            color:white;
        }

        .movie-card{
            background-color:#1c1c1c;
            padding:15px;
            border-radius:10px;
        }

        img{
            border-radius:10px;
        }

        a{
            color:white;
            text-decoration:none;
        }

    </style>

</head>

<body>

<div class="container mt-5">

    <div class="movie-card">

        <img src="{{ movie.image.url }}" width="300">

        <h1 class="mt-3">{{ movie.title }}</h1>

        <p><strong>Genre:</strong> {{ movie.genre }}</p>

        <p><strong>Rating:</strong> ⭐ {{ movie.rating }}</p>

        <p>{{ movie.description }}</p>

    </div>

    <h2 class="mt-5">⭐ Recommended Movies</h2>

    <div class="row">

        {% for movie in recommended_movies %}

        <div class="col-md-4 mt-3">

            <div class="movie-card">

                <img src="{{ movie.image.url }}" class="img-fluid">

                <h4 class="mt-2">
                    <a href="/movie/{{ movie.id }}/">
                        {{ movie.title }}
                    </a>
                </h4>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>